/*Internet Explorer用 支援4+*/
/*(要擺第一個)*/
@font-face {
  font-family:"超研澤中特明";
  src:url(img/font/bffc3d1cefb8031614b6ea315738297c.ttf); /*不可用 format()*/
}
/*其他瀏覽器用*/
@font-face {
  font-family:"超研澤中特明";
  src:url(img/font/bffc3d1cefb8031614b6ea315738297c.ttf) format("truetype");
}
body { width:100%; overflow-y:scroll; }
.content01{
    display: block;
    position: relative;
    margin: 0 auto;
}
.content01 .blackbg{
    display: block;
    position: absolute; 
    width: 100%;
    top:0px;
    left:0px ;
    z-index: 1;
}
.content01 .centerbox 
{
    display: block;
    position: absolute;
    display: flex;
/*    align-items: center;*/
    justify-content:center;
    width: 860px;
    left: 548px;
    height: 1080px;
    margin: 0 auto;
    top: 0px;
    /* overflow: hidden; */
/*    background-color: black;*/
    z-index: 1;
}


.content01 .centerbox h1 {
    color: white;
    text-align: center;
    letter-spacing: 10px;
    position: absolute;
    padding-top: 165px;
    padding-left: 150px;
    width: 100%;
    font-size: 30pt;
   font-family:"超研澤中特明";
}

.content01 .centerbox h1 img.one {
    position: absolute;
    width: 20%;
    left: 122px;
    top: 166px;
}

.content01 .centerbox h1 img.two {
    position: absolute;
    width: 15%;
    left: 485px;
    top: 166px;
}


.content01 .centerbox .text p
{
    display: block;
    float: left;
    margin-left:5px ;
    line-height: 30px;
    color: white;
    font-size: 20pt;
    height: 35px;
    z-index: 1;
    color: white;
    font-family:"超研澤中特明";
}

.content01 .centerbox .text.one {
    bottom: 386px;
    line-height: 30px;
    position: absolute;
}

.content01 .centerbox .text.two {
    bottom: 325px;
    line-height: 30px;
    position: absolute;
}


.content01 .people{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.content01 .people .one  img{
/*    display: block;*/
    position: absolute;
    margin: 0 auto;
    top: -740px;
    right: 705px;
    width: 400px;
}
.content01 .people .two img{
/*    display: block;*/
    position: absolute;
    top: -870px;
    left: 377px;
    width: 400px;
}
.content01 .people .three img{
/*    display: block;*/
    position: absolute;
    top: -902px;
    left: 44px;
    width: 400px;
}
.content01 .people .four img{
/*    display: block;*/
    position: absolute;
    top: -884px;
    right: 150px;
    width: 400px;
}
.content01 .people .five img{
/*    display: block;*/
    position: absolute;
    top: -920px;
    right: -30px;
    width: 400px;
}


.header_center {
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    bottom: 0px;
    left: 0px;
    width: 1920px;
    height:91px ;
    margin: 0 auto;
    z-index: 1;
    }


.header_center img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    overflow: hidden;
}



.header_center .nav {
    margin: 0 auto;
    margin-bottom: 10px;
    list-style: none;

}

a.li{
    float: left;
    font-size: 14pt;
    font-family: "超研澤中特明";
    margin-left: 65px;
    margin-top: 32px;
    color: #323333;
    letter-spacing: 3px;
     z-index: 1;
}
/*----------------------------------content2-------------------------*/
.content02 {
    display: block;
    width: 100%;
    height: 1164px;
    position: relative;

}
/*鈔票背景*//*先暫時隱藏區塊-測試用*/
/*.content02 .first{   
    display: none;
}*/

.content02 .moneybg img{
    display:block;
    position: absolute;
    background-size: percentage;
    width:1920px;
    height: 1000px;
    top:0px;
    left:0px;
}


.content02 .money .left.front {
    display: block;
    position: absolute;
    width: 960px;
    height: 1000px
    left: -27px;
    bottom: 164px;
    z-index: 1;
}

.content02 .money .left.front img{
    position: absolute;
    width: 88%;
    left: 0px;
    bottom: 0px;
}

.content02 .money .right.front {
    display: block;
    position: absolute;
    width: 960px;
    height: 1000px;
    right: 0px;
    bottom: 164px;
    z-index: 1;
}

.content02 .money .right.front img {
    position: absolute;
    width: 88%;
    right: 0px;
    bottom: 0px;
}


.content02 .centerbox {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    width: 550px;
    margin: 0 auto;
    padding: 10% 0;
    /* overflow: hidden; */
    /* height: 450px; */
    /* left: 696px; */
    /* top: 280px; */
    z-index: 1;
    /* background-color: black; */
    text-align: center;
    font-family: "超研澤中特明";
}



.content02 .wordbox p{

    font-family: "超研澤中特明";
    font-size: 24pt;
    color: #4d5865;
    letter-spacing: 5px;
}

.content02 .wordbox p.two{

    line-height: 60pt;
    font-size: 40pt;
    color: #c8124e;
}

.content02 .wordbox p.three{

    line-height: 80pt;
}

.content02 .wordbox p.four{
    font-size: 40pt;
    color: #c8124e;
}

/* 被鈔票bg蓋住的coinbg區塊-second*/

.content02 .moneybg.two img{
    z-index: -1
}

.content02 .second .wordbox {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    width: 660px;
    height: 1000px;
    top: 0px;
    left: 640px;
    z-index: -1;
}

/*統一定義second_item*/
.content02 .second .item {
    display: block;
    position: absolute;
    width: 594px;
    height: 130px;
    margin-left: 33px;
}

.content02 .second .item.one {margin-top: 170px;}

.content02 .second .item.two { margin-top: 300px;}

.content02 .second .item.three {margin-top: 430px;}

.content02 .second .item.four { margin-top: 560px;}

.content02 .second .item.five { margin-top: 690px;}

.content02 .second .item .left{

    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    float: left;
    width: 30%;
    height: 100%;
    margin: 0 auto;
}

.content02 .second .item .right {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    right: 29px;
    /* float: left; */
    width: 70%;
    top: 0px;
    height: 100%;
}

.content02 .second .item p{

    color: white;
    letter-spacing: 3px;
}

.content02 .second .item p.text-left {
    
    font-size: 40pt;
}

.content02 .second .item p.text-right {
    position: absolute;
    font-size: 20pt;
    top: 37px;
    left: 103px;
}

.content02 .second .item img {
    display: block;
    position: absolute;
    margin-left: 151px;
    margin-top: 3px;
    width: 50%;
    z-index: -1;
}

/*content02_title*/
.middlebar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    bottom: 0px;
    left: 0px;
    height:184px ;
    width: 1920px;
    z-index: 1;
   /* background-color: black;*/
}

.middlebar img {
    display: block;
    position: absolute;
    width:1920px;
    height: 184px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.middlebar span{

    letter-spacing: 6px;
    font-size:35px;
    font-family: "超研澤中特明";
    color: #4d5865;
}


/*content03*/

.content03{
    
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 1084px;
}

/*content03 右邊三角形區塊*/
.content03 .rightbox {
    
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 769px;
    z-index: 1;
}
.content03 .rightbox img.triangle{

    display: block;
    position: absolute;
    width: 100%;
    height: 100% ;
    right: 0px;
    /*display: none;*/
}


/*.content03 .rightbox img.triangle.one{

    display: none;
}*/


.content03 .rightbox .wordbox{

    display: block;
    position: absolute;
    width: 500px;
    height:450px;
    right: 60px;
    margin-top: 390px;
    }

 .content03 .rightbox .wordbox .text {
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;  
    font-size: 25pt;
    letter-spacing:2px ;
 }

.content03 .rightbox .wordbox .text ul {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 13%;
    color: #231815;
}/*#663300*/

  .content03 .rightbox .wordbox .text li{
    
    display: block;
    margin-top: 2%;
    z-index: 3;
 }

.content03 .rightbox .wordbox .text.one{

     color: #4d5865;
     line-height: 70px;
     display: none;
}

.content03 .rightbox .wordbox .text.two {display: none;}

.content03 .rightbox .wordbox .text.three {display: none;}

/*.content03 .rightbox .wordbox .text.four {display: none;}*/

.content03 .rightbox .wordbox .text.one p {padding-top: 83px;}

.content03 .rightbox .wordbox .pic {
    position: absolute;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 50%;
    bottom: 0px;
}
.content03 .rightbox .wordbox .pic img.plane {
    display: block;
    position: absolute;
    width: 30%;
    margin-left: 20px;
    margin-top: -6px;
    display: none; /*test*/
}

/*content03 長條三個區塊*/
.content03 .block{

    display: block;
    position: relative;
    top: 0px;
    width: 1920px;
    height: 1084px;
    z-index: -1;
}

.content03 .block .top{

    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 33%;
}

.content03 .block .middle{

    margin-top: 362px;
    display: block;
    position: absolute;
    width: 100%;
    height: 33%;
 }

.content03 .block .bottom{
    margin-top: 723px;
    display: block;
    position: absolute;
    width: 100%;
    height: 33%;
}

.content03 .block img.bg{

    display: block;
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.content03 .block .word {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    margin-left: 266px;
    /* background-color: white; */
}

.content03 .block .word .title {

    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 40pt;
    color: white;
    letter-spacing: 3px;
    /*background-color: white;*/
}

.content03 .block .word .title span{
    display: block;
    width: 100%;
    padding-top: 12.5%;
}

.content03 .block .top .word .title span {text-align: right; }
.content03 .block .middle .title span {padding-left: 42%;}
.content03 .block .bottom .title span{
    padding-left:15%;
    color: #4d5865;
}


.content03 .block .text{

    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 25pt;
    color: white;
    letter-spacing: 3px;
    /*background-color: blue;*/
}

.content03 .block .text p{
    display: block;
    width: 100%;
    padding-top: 10%;
}

.content03 .block .middle .text p{padding-left:35%;}
.content03 .block .bottom .text p{padding-top: 12.5%;}

/*隱藏部分區塊*/

.content03 .block .top img.bg.one{display: none;}
/*.content03 .block .middle img.bg.one{display: none;}*/
.content03 .block .bottom img.bg.one{display: none;}
/*.content03 .block .top .word .title{display: none;}*/
.content03 .block .middle .word .title{display: none;}
.content03 .block .top .word .text{display: none;}
/*.content03 .block .middle .word .text{display: none;}*/
.content03 .block .bottom .word .text{display: none;}


/*content04*/

.content04{
    
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 1084px;
}
.content04 .colorbg {
    display: block;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0px;
    left: 0px;
    z-index: 1;
}

.content04 .leftbox{
    display: block;
    position: absolute;
    width:1304.5px ;
    height:1084px ;
    left: 0px;
    top:0px;
    /*background-color: black;*/
    z-index: 1;
}

.content04 .leftbox .picbox img{
    display: block;
    position: absolute;
    left: 0px;
    top:0px;
}

.content04 .leftbox .picbox img.one{  
    /*pen有從螢幕外滑入的動畫(滑鼠滾輪滑動)*/
    position: absolute;
    width: 50%;
    left:0px;
    animation:move_left 3.2s;
    -webkit-animation:move_left 3.2s;
}

@keyframes move_left{
    0%{opacity:0;left:-50%;}
    50%{opacity:0;left:-20%;}
    100% {opacity:1;left:0%;}
}
@-webkit-keyframes move_left{
    0%{opacity:0;left:-50%;}
    50%{opacity:0;left:-20%;}
    100% {opacity:1;left:0%;}
}



.content04 .leftbox .picbox img.two{
    display: none;
}

.content04 .leftbox .picbox img.three{
    display: none;
}

.content04 .leftbox .wordbox{
    display: none;
}

.content04 .rightbox .iconbox{
    display: none;
}

.content04 .topbox{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25%;
    /*background-color: black;*/
    z-index: 1;
}

.content04 .topbox .wordbox{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    /*background-color: yellow;*/
    margin-left: 20%;
    bottom: 0px;
}
.content04 .topbox .wordbox span {
    display: block;
    font-size: 30pt;
    color: white;
    padding-left: 10%;
    padding-top: 12%;
    font-style: italic;
    /* position: absolute; */
    animation:move_left_span 2.5s;
    -webkit-animation:move_left_span 2.5s;
}

@keyframes move_left_span{
    0%{opacity:0;padding-left:-5%;}
    50%{opacity:0;padding-left:5%;}
    100% {opacity:1;padding-left:10%;}
}
@-webkit-keyframes move_left_span{
   0%{opacity:0;padding-left:-5%;}
    50%{opacity:0;padding-left:5%;}
    100% {opacity:1;padding-left:10%;}
}

.content04 .rightbox {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width:60%;
    height: 100%;
    /*background-color: black;*/
    z-index: 1;
}

.content04 .rightbox .wordbox {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    left: 0%;
    top: 45%;
    /*background-color: yellow;*/
}

.content04 .rightbox .wordbox .title{
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
/*    background-color: white;*/
}

.content04 .rightbox .wordbox .title .word{
    display: block;
    position: absolute;
    width:100%;
    height: 60%;
    top: 0%;
    left: 0%;
    /*background-color: black;*/
    
}

.content04 .rightbox .wordbox .title .word p{
    top:0%;
    margin-left: 0%;
    font-size: 20pt;
    font-weight: 1px;
    color:#2f2b28 ;
    font-weight: 3px;
    letter-spacing: 3px;
    line-height: 40px;
    animation:move_left_title 3.5s;
    -webkit-animation:move_left_title 3.5s;
}
.content04 .rightbox .wordbox .title .line {
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
 /*   background-color: red;*/
    bottom: 0%;
    left: 0%;
}
.content04 .rightbox .wordbox .title .line img{
    display: block;
    position: absolute;
    width: 50%;
    animation:opa 3.5s;
    -webkit-animation:opa 3.5s;
}

@keyframes opa{
    0%{opacity:0;}
    50%{opacity:0;}
    100% {opacity:1;}
}

.content04 .rightbox .wordbox .text{
    display: block;
    position: absolute;
    width: 100%;
    height: 75%;
    top:25%;
    left:0%;
    /*background-color: white;*/
}

.content04 .rightbox .wordbox .text p {
    display: block;
    top: 25%;
    margin-left: 3%;
    color: #505459;
    font-size: 15pt;
    line-height: 40px;
    letter-spacing: 3px;
    animation:move_left_p 3.5s;
    -webkit-animation:move_left_p 3.5s;
}


@keyframes move_left_title{
    0%{opacity:0;margin-left: -10%;}
    50%{opacity:0;margin-left:-3%;}
    100% {opacity:1;margin-left:0%;}
}
@-webkit-keyframes move_left_title{
    0%{opacity:0;margin-left: -10%;}
    50%{opacity:0;margin-left:-3%;}
    100% {opacity:1;margin-left:0%;}
}

@keyframes move_left_p{
    0%{opacity:0;margin-left: -5%;}
    50%{opacity:0;margin-left:-0%;}
    100% {opacity:1;margin-left:3%;}
}
@-webkit-keyframes move_left_p{
    0%{opacity:0;margin-left: -5%;}
    50%{opacity:0;margin-left:-0%;}
    100% {opacity:1;margin-left:3%;}
}



/*四大保證區塊*/


