/*Internet Explorer用 支援4+*/


/*(要擺第一個)*/

@font-face {
    font-family: chinese_superlight;
    src: url(../img/font/chinesesuperlight.eot);
}


/*不可用 format()*/


/*其他瀏覽器用*/

@font-face {
    font-family: chinese_superlight;
    src: url(../img/font/chinesesuperlight.otf) format("truetype");
}


/*body { width:100%; overflow-y:scroll; }*/

.content01 {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 768px;
}

.content01 .colorbg,
.content01 .blackbg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

.content01 .blackbg {
    z-index: 2;
    opacity: 0;
    animation: opacity_bg 2s forwards;
    -webkit-animation: opacity_bg 2s forwards;
}

@-webkit-keyframes opacity_bg {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content01 .colorbg img,
.content01 .blackbg img {
    width: 100%;
    height: 100%;
}


/*文字中間區*/

.content01 .centerbox {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -265px;
    height: auto;
    top: 0px;
    z-index: 3;
    overflow: hidden;
}

@keyframes word_title {
    0% {
        opacity: 0;
        margin-top: 90px;
    }
    50% {
        opacity: 0.5;
        margin-top: 105px;
    }
    100% {
        opacity: 1;
        margin-top: 120px;
    }
}

@-webkit-keyframes word_title {
    0% {
        opacity: 0;
        margin-top: 90px;
    }
    50% {
        opacity: 0.5;
        margin-top: 115px;
    }
    100% {
        opacity: 1;
        margin-top: 120px;
    }
}

@keyframes word_p {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes word_p {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.content01 .centerbox .title {
    opacity: 0;
    width: 480px;
    color: white;
    padding: 30px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 90px;
    animation: word_title 2s ease-out 1s forwards;
    -webkit-animation: word_title 2s ease-out 1s forwards;
}

.content01 .centerbox .title h1 {
    font-family: "chinese_superlight";
    float: left;
    font-size: 28px;
    letter-spacing: 5px;
    display: inline-block;
    padding: 10px 0px;
    color: #fff;
}

.content01 .centerbox .title img.one {
    width: 105px;
    display: inline-block;
    float: left;
}

.content01 .centerbox .title img.two {
    display: inline-block;
    width: 46px;
    float: left;
}

.content01 .centerbox .wordbox {
    width: 270px;
    margin: 0 auto;
    margin-top: 140px;
    padding: 10px;
    overflow: hidden;
}

.content01 .centerbox .wordbox .text p {
    display: block;
    float: left;
    margin-left: 5px;
    line-height: 30px;
    color: white;
    font-size: 15pt;
    height: 35px;
    z-index: 1;
    color: white;
    font-family: "chinese_superlight";
}

.content01 .centerbox .wordbox .text.one {
    opacity: 0;
    line-height: 30px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    animation: word_p 1.5s ease-out 3.3s forwards;
    -webkit-animation: word_p 1.5s ease-out 3s forwards;
}

.content01 .centerbox .wordbox .text.two {
    opacity: 0;
    line-height: 30px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    animation: word_p 1.5s ease-out 3.9s forwards;
    -webkit-animation: word_p 1.5s ease-out 3.9s forwards;
}

.content01 .people {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.content01 .people img {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.content01 .people img.one {
    opacity: 0;
    animation: fadeIn 2s ease-out 2.5s forwards;
    -webkit-animation: fadeIn 2s ease-out 2.5s forwards;
}

.content01 .people img.two {
    opacity: 0;
    animation: fadeIn 2s ease-out 2.9s forwards;
    -webkit-animation: fadeIn 2s ease-out 2.94s forwards;
}

.content01 .people img.three {
    opacity: 0;
    animation: fadeIn 2s ease-out 3.4s forwards;
    -webkit-animation: fadeIn 2s ease-out 3.4s forwards;
}

.content01 .people img.four {
    opacity: 0;
    animation: fadeIn 2s ease-out 3.8s forwards;
    -webkit-animation: fadeIn 2s ease-out 3.8s forwards;
}

.content01 .people img.five {
    opacity: 0;
    animation: fadeIn 2s ease-out 4.2s forwards;
    -webkit-animation: fadeIn 2s ease-out 4.2s forwards;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/**/

.header_center {
    opacity: 0;
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    z-index: 999;
    animation: fadeIn 0.5s ease-out 6s forwards;
    /*動畫最晚*/
    -webkit-animation: fadeIn 0.5s ease-out 6s forwards;
}

.header_center img {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.header_center img.left {
    left: 0px;
}

.header_center img.right {
    right: 0px;
}

.header_center .nav {
    margin: 0 auto;
    width: 600px;
    height: 100%;
    /*  margin-bottom: 10px;*/
}

a.li {
    float: left;
    font-size: 13pt;
    padding: 20px 29px;
    color: #323333;
    letter-spacing: 5px;
    z-index: 1;
    text-align: center;
    text-decoration: none;
}

a.li.left {
    float: left;
}

a.li.right {
    float: right;
}

a.li p {
    font-family: "chinese_superlight";
}


/*content02*/

.content02 {
    width: 100%;
    height: 768px;
    position: relative;
}

@-webkit-keyframes move_left_money {
    0% {
        opacity: 0;
        left: -300px;
        bottom: -384px;
    }
    50% {
        opacity: 0.5;
        left: -150px;
        bottom: -192px;
    }
    100% {
        opacity: 1;
        left: 0px;
        bottom: 0px;
    }
}

@keyframes move_left_money {
    0% {
        opacity: 0;
        left: -300px;
        bottom: -384px;
    }
    50% {
        opacity: 0.5;
        left: -150px;
        bottom: -192px;
    }
    100% {
        opacity: 1;
        left: 0px;
        bottom: 0px;
    }
}

@-webkit-keyframes move_right_money {
    0% {
        opacity: 0;
        right: -300px;
        bottom: -384px;
    }
    50% {
        opacity: 0.5;
        right: -150px;
        bottom: -192px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 0px;
    }
}

@keyframes move_right_money {
    0% {
        opacity: 0;
        right: -300px;
        bottom: -384px;
    }
    50% {
        opacity: 0.5;
        right: -150px;
        bottom: -192px;
    }
    100% {
        opacity: 1;
        right: 0px;
        bottom: 0px;
    }
}


/*鈔票背景*/


/*先暫時隱藏區塊-測試用*/

.content02 .second {
/*    display: none;*/
}

.content02 .moneybg img {
    display: block;
    position: absolute;
    background-size: percentage;
    width: 100%;
    height: 102%;
    top: 0px;
    left: 0px;
}

.content02 .money .left.front {
    display: block;
    position: absolute;
    width: 600px;
    height: 100%;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}

.content02 .money .left.front img,
.content02 .money .right.front img {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.content02 .money .left.front img {
    opacity: 0;
    left: -300px;
    bottom: -384px;
}

.content02.hover .money .left.front img {
    opacity: 1;
    animation: move_left_money 2.5s ease-out 1.8s infinite  alternate;
    -webkit-animation: move_left_money 2.5s ease-out 1.8s infinite  alternate;
}

.content02 .money .right.front img {
    opacity: 0;
    right: -300px;
    bottom: -384px;
    animation: move_right_money 2.5s ease-out 1.8s forwards;
    -webkit-animation: move_right_money 2.5s ease-out 1.8s forwards;
}

.content02 .money .right.front {
    display: block;
    position: absolute;
    width: 600px;
    height: 100%;
    right: 0px;
    z-index: 1;
    bottom: 0px;
    overflow: hidden;
}

.content02 .centerbox {
    position: relative;
    width: 550px;
    margin: 0 auto;
    padding: 230px 0;
    z-index: 1;
    text-align: center;
    font-family: "chinese_superlight";
}

.content02 .wordbox p {
    font-family: "chinese_superlight";
    font-size: 24px;
    color: #4d5865;
    letter-spacing: 3px;
}

.content02 .wordbox p.one {
    opacity: 0;
    line-height: 40px;
    animation: fadeIn 1s ease-out 0s forwards;
    /*動畫最晚*/
    -webkit-animation: fadeIn 1s ease-out 0s forwards;
}

#content02 .you {
    opacity: 0;
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 0px;
    overflow: hidden;
    animation: fadeIn 1s ease-out 0.8s forwards;
    -webkit-animation: fadeIn 1s ease-out 0.8s forwards;
}

#content02 h1 {
    font-family: "chinese_superlight";
    font-size: 35px;
    color: #4d5865;
    float: left;
}

.content02 .wordbox p.three {
    line-height: 41px;
    float: left;
    padding-right: 33px;
}

.content02 .wordbox p.four {
    opacity: 0;
    font-size: 35px;
    color: #c8124e;
    padding-top: 25px;
    animation: fadeIn 1s ease-out 2s forwards;
    -webkit-animation: fadeIn 1s ease-out 2s forwards;
}


/* 被鈔票bg蓋住的coinbg區塊-second*/

.content02 .second {
    width: 100%;
    height: 100%;
}

.content02 .moneybg.two img {
    z-index: -1
}

.content02 .second .wordbox {
    width: 300px;
    /*    height: 100%;*/
    margin: 0 auto;
    z-index: -1;
    overflow: hidden;
    padding: 80px 0px;
}


/*統一定義second_item*/

.content02 .second .item {
    height: auto;
    padding: 15px 8px;
    margin-top: 20px;
    overflow: hidden;
}

.content02 .second .item .left {
    float: left;
    /*    width: 30%;*/
    /*    height: 100%;*/
    margin: 0 auto;
    overflow: hidden;
}

.content02 .second .item .right {
    /*    right: 29px;*/
    width: 80%;
    top: 0px;
    position: relative;
    overflow: hidden;
    float: right;
}

.content02 .second .item p {
    color: white;
    letter-spacing: 3px;
    float: left;
}

.content02 .second .item p.text-left {
    font-size: 40px;
    padding: 5px 0;
}

.content02 .second .item p.text-right {
    /*width: 100%;*/
    text-align: center;
    font-size: 20px;
    padding: 18px 0;
    float: right;
    margin-right: 60px
}

.content02 .second .item img {
    position: absolute;
    width: 100%;
    z-index: -1;
    right: 0px;
}

.content02 .second .item.one {
    opacity: 0;
    animation: fadeIn 0.8s ease-out 0.5s forwards;
    -webkit-animation: fadeIn 0.8s ease-out 0.5s forwards;
}

.content02 .second .item.two {
    opacity: 0;
    animation: fadeIn 0.8s ease-out 1s forwards;
    -webkit-animation: fadeIn 0.8s ease-out 1s forwards;
}

.content02 .second .item.three {
    opacity: 0;
    animation: fadeIn 0.8s ease-out 1.5s forwards;
    -webkit-animation: fadeIn 0.8s ease-out 1.5s forwards;
}

.content02 .second .item.four {
    opacity: 0;
    animation: fadeIn 0.8s ease-out 2s forwards;
    -webkit-animation: fadeIn 0.8s ease-out 2s forwards;
}

.content02 .second .item.five {
    opacity: 0;
    animation: fadeIn 0.8s ease-out 2.5s forwards;
    -webkit-animation: fadeIn 0.8s ease-out 2.5s forwards;
}


/*middle_bar*/

.middlebar {
    position: relative;
    top: 0px;
    left: 0px;
    height: 184px;
    width: 100%;
}

.middlebar img {
    /*    position: absolute;*/
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
}

.middlebar h1 {
    letter-spacing: 5px;
    font-size: 30px;
    font-family: "chinese_superlight";
    color: #4d5865;
    text-align: center;
    top: 0px;
    position: absolute;
    width: 100%;
    padding: 60px 0px;
    /
}

.content03 {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 768px;
}


/*content03 右邊三角形區塊*/

.content03 .rightbox {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 769px;
    z-index: 1;
}

.content03 .rightbox img.triangle {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    /*display: none;*/
}


/*.content03 .rightbox img.triangle.one{

    display: none;
}*/

.content03 .rightbox .wordbox {
    display: block;
    position: absolute;
    width: 500px;
    height: 450px;
    right: 60px;
    margin-top: 390px;
}

.content03 .rightbox .wordbox .text {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    font-size: 25pt;
    letter-spacing: 2px;
}

.content03 .rightbox .wordbox .text ul {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 13%;
    color: #231815;
}


/*#663300*/

.content03 .rightbox .wordbox .text li {
    display: block;
    margin-top: 2%;
    z-index: 3;
}

.content03 .rightbox .wordbox .text.one {
    color: #4d5865;
    line-height: 70px;
    display: none;
}

.content03 .rightbox .wordbox .text.two {
    display: none;
}

.content03 .rightbox .wordbox .text.three {
    display: none;
}


/*.content03 .rightbox .wordbox .text.four {display: none;}*/

.content03 .rightbox .wordbox .text.one p {
    padding-top: 83px;
}

.content03 .rightbox .wordbox .pic {
    position: absolute;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 50%;
    bottom: 0px;
}

.content03 .rightbox .wordbox .pic img.plane {
    display: block;
    position: absolute;
    width: 30%;
    margin-left: 20px;
    margin-top: -6px;
    display: none;
    /*test*/
}


/*content03 長條三個區塊*/

.content03 .block {
    display: block;
    position: relative;
    top: 0px;
    width: 1920px;
    height: 1084px;
    z-index: -1;
}

.content03 .block .top {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 33%;
}

.content03 .block .middle {
    margin-top: 362px;
    display: block;
    position: absolute;
    width: 100%;
    height: 33%;
}

.content03 .block .bottom {
    margin-top: 723px;
    display: block;
    position: absolute;
    width: 100%;
    height: 33%;
}

.content03 .block img.bg {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.content03 .block .word {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    margin-left: 266px;
    /* background-color: white; */
}

.content03 .block .word .title {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 40pt;
    color: white;
    letter-spacing: 3px;
    /*background-color: white;*/
}

.content03 .block .word .title span {
    display: block;
    width: 100%;
    padding-top: 12.5%;
}

.content03 .block .top .word .title span {
    text-align: right;
}

.content03 .block .middle .title span {
    padding-left: 42%;
}

.content03 .block .bottom .title span {
    padding-left: 15%;
    color: #4d5865;
}

.content03 .block .text {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 25pt;
    color: white;
    letter-spacing: 3px;
    /*background-color: blue;*/
}

.content03 .block .text p {
    display: block;
    width: 100%;
    padding-top: 10%;
}

.content03 .block .middle .text p {
    padding-left: 35%;
}

.content03 .block .bottom .text p {
    padding-top: 12.5%;
}


/*隱藏部分區塊*/

.content03 .block .top img.bg.one {
    /*display: none;*/
}


/*.content03 .block .middle img.bg.one{display: none;}*/

.content03 .block .bottom img.bg.one {
    /*display: none;*/
}


/*.content03 .block .top .word .title{display: none;}*/

.content03 .block .middle .word .title {
    /*display: none;*/
}

.content03 .block .top .word .text {
    /*display: none;*/
}


/*.content03 .block .middle .word .text{display: none;}*/

.content03 .block .bottom .word .text {
    /*display: none;*/
}

@media screen and (min-width: 1800px) {
    /*1800*/
    .content01 {
        height: 1084px;
    }
    .content01 .centerbox {
        width: 900px;
        margin-left: -450px;
    }
    @keyframes word_title {
        0% {
            opacity: 0;
            margin-top: 170px;
        }
        50% {
            opacity: 0.5;
            margin-top: 190px;
        }
        100% {
            opacity: 1;
            margin-top: 210px;
        }
    }
    .content01 .centerbox .title {
        margin-top: 170px;
        width: 550px;
    }
    .content01 .centerbox .title h1 {
        letter-spacing: 10px;
        font-size: 35px;
    }
    .content01 .centerbox .wordbox {
        margin-top: 300px;
        letter-spacing: 5px;
        width: 350px;
        font-size: 18px;
    }
    .content01 .centerbox .wordbox .text p {
        font-size: 24px;
    }
    .header_center {
        height: 91px;
    }
    .header_center .nav {
        width: 900px;
    }
    a.li {
        font-size: 15pt;
        padding: 33px 55px;
    }
    /*second*/
    .content02 {
        height: 1084px;
    }
    .content02 .money .left.front,
    .content02 .money .right.front {
        width: 800px;
    }
    .content02 .money .left.front img {
        left: -400px;
        bottom: -450px;
    }
    .content02 .money .right.front img {
        right: -400px;
        bottom: -450px;
    }
    .content02 .centerbox {
        width: 700px;
        padding: 350px 0px;
    }
    .content02 .wordbox p.one {
        font-size: 30px;
        line-height: 50px;
    }
    #content02 .you {
        width: 350px;
        margin-top: 50px;
        line-height: 50px;
    }
    .content02 .wordbox p.three {
        font-size: 30px;
        line-height: 50px;
    }
    #content02 h1 {
        font-size: 45px;
    }
    .content02 .wordbox p.four {
        font-size: 50px;
        padding-top: 45px;
        letter-spacing: 8px;
    }
    @-webkit-keyframes move_left_money {
        0% {
            opacity: 0;
            left: -400px;
            bottom: -450px;
        }
        50% {
            opacity: 0.5;
            left: -200px;
            bottom: -225px;
        }
        100% {
            opacity: 1;
            left: 0px;
            bottom: 0px;
        }
    }
    @keyframes move_left_money {
        0% {
            opacity: 0;
            left: -400px;
            bottom: -450px;
        }
        50% {
            opacity: 0.5;
            left: -200px;
            bottom: -225px;
        }
        100% {
            opacity: 1;
            left: 0px;
            bottom: 0px;
        }
    }
    @-webkit-keyframes move_right_money {
        0% {
            opacity: 0;
            right: -400px;
            bottom: -450px;
        }
        50% {
            opacity: 0.5;
            right: -200px;
            bottom: -225px;
        }
        100% {
            opacity: 1;
            right: 0px;
            bottom: 0px;
        }
    }
    @keyframes move_right_money {
        0% {
            opacity: 0;
            right: -400px;
            bottom: -450px;
        }
        50% {
            opacity: 0.5;
            right: -200px;
            bottom: -225px;
        }
        100% {
            opacity: 1;
            right: 0px;
            bottom: 0px;
        }
    }
    /*second*/
    .content02 .first {
        display: none;
    }
    .content02 .second {
        display: block;
    }
    .content02 .second .wordbox {
        width: 550px;
        padding: 105px 0px;
        margin: 0 auto;
        z-index: -1;
        overflow: hidden;
    }
    .content02 .second .item {
        padding: 20px 8px;
    }
    .content02 .second .item .right {
        right: 29px;
        width: 350px;
    }
    .content02 .second .item p.text-left {
        font-size: 50px;
        padding: 20px 50px;
    }
    .content02 .second .item p.text-right {
        font-size: 25px;
        padding: 30px 0;
        margin-right: 105px;
        letter-spacing: 5px;
    }
    .middlebar h1 {
        font-size: 35px;
        padding: 70px 0px;
    }
    .content03 {
        height: 1084px;
    }
}

@media screen and (max-width:1365px) and (min-width:1024px) {
    .content01 .colorbg img,
    .content01 .blackbg img,
    .content01 .people img.one,
    .content01 .people img.two,
    .content01 .people img.three,
    .content01 .people img.four,
    .content01 .people img.five {
        height: auto;
        overflow: hidden;
    }
}


/*----------------------------------content2-------------------------*/


/*content03*/


/*content04*/

.content04 {
    display: block;
    position: relative;
    /*margin: 0 auto;*/
    width: 100%;
    height: 1084px;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.content04 .colorbg {
    display: block;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0px;
    left: 0px;
    z-index: 1;
    background-position: fixed;
}


/*leftbox設定*/

.content04 .leftbox {
    display: block;
    position: absolute;
    width: 1304.5px;
    height: 100%;
    left: 0px;
    top: 0px;
    /*background-color: white;*/
    z-index: 1;
}

.content04 .leftbox .picbox {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: black;*/
}

.content04 .leftbox .picbox img {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.content04 .leftbox .picbox img.one {
    /*pen有從螢幕外滑入的動畫(滑鼠滾輪滑動)*/
    position: absolute;
    width: 50%;
    left: 0px;
    animation: move_left 3.2s;
    -webkit-animation: move_left 3.2s;
}

@keyframes move_left {
    0% {
        opacity: 0;
        left: -50%;
    }
    50% {
        opacity: 0;
        left: -20%;
    }
    100% {
        opacity: 1;
        left: 0%;
    }
}

@-webkit-keyframes move_left {
    0% {
        opacity: 0;
        left: -50%;
    }
    50% {
        opacity: 0;
        left: -20%;
    }
    100% {
        opacity: 1;
        left: 0%;
    }
}

.content04 .topbox {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25%;
    /*background-color: black;*/
    z-index: 1;
}

.content04 .topbox .wordbox {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    /*background-color: yellow;*/
    margin-left: 20%;
    bottom: 0px;
}

.content04 .topbox .wordbox span {
    display: block;
    font-size: 30pt;
    color: white;
    padding-left: 10%;
    padding-top: 12%;
    font-style: italic;
    /* position: absolute; */
    animation: move_left_span 2.5s;
    -webkit-animation: move_left_span 2.5s;
}

@keyframes move_left_span {
    0% {
        opacity: 0;
        padding-left: -5%;
    }
    50% {
        opacity: 0;
        padding-left: 5%;
    }
    100% {
        opacity: 1;
        padding-left: 10%;
    }
}

@-webkit-keyframes move_left_span {
    0% {
        opacity: 0;
        padding-left: -5%;
    }
    50% {
        opacity: 0;
        padding-left: 5%;
    }
    100% {
        opacity: 1;
        padding-left: 10%;
    }
}


/*rightbox設定*/

.content04 .rightbox {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60%;
    height: 100%;
    /*background-color: yellow;*/
    z-index: 1;
}

.content04 .rightbox .wordbox {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    left: 0%;
    top: 45%;
    /*background-color: yellow;*/
}

.content04 .rightbox .wordbox .title {
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    /*    background-color: white;*/
}

.content04 .rightbox .wordbox .title .word {
    display: block;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0%;
    left: 0%;
    /*background-color: black;*/
}

.content04 .rightbox .wordbox .title .word p {
    top: 0%;
    margin-left: 0%;
    font-size: 20pt;
    font-weight: 1px;
    color: #2f2b28;
    font-weight: 3px;
    letter-spacing: 3px;
    line-height: 40px;
    animation: move_left_title 3.5s;
    -webkit-animation: move_left_title 3.5s;
}

.content04 .rightbox .wordbox .title .line {
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
    /*   background-color: red;*/
    bottom: 0%;
    left: 0%;
}

.content04 .rightbox .wordbox .title .line img {
    display: block;
    position: absolute;
    width: 50%;
    animation: opa 3.5s;
    -webkit-animation: opa 3.5s;
}

@keyframes opa {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content04 .rightbox .wordbox .text {
    display: block;
    position: absolute;
    width: 100%;
    height: 75%;
    top: 25%;
    left: 0%;
    /*background-color: white;*/
}

.content04 .rightbox .wordbox .text p {
    display: block;
    top: 25%;
    margin-left: 3%;
    color: #505459;
    font-size: 15pt;
    line-height: 40px;
    letter-spacing: 3px;
    animation: move_left_p 3.5s;
    -webkit-animation: move_left_p 3.5s;
}

@keyframes move_left_title {
    0% {
        opacity: 0;
        margin-left: -10%;
    }
    50% {
        opacity: 0;
        margin-left: -3%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
    }
}

@-webkit-keyframes move_left_title {
    0% {
        opacity: 0;
        margin-left: -10%;
    }
    50% {
        opacity: 0;
        margin-left: -3%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes move_left_p {
    0% {
        opacity: 0;
        margin-left: -5%;
    }
    50% {
        opacity: 0;
        margin-left: -0%;
    }
    100% {
        opacity: 1;
        margin-left: 3%;
    }
}

@-webkit-keyframes move_left_p {
    0% {
        opacity: 0;
        margin-left: -5%;
    }
    50% {
        opacity: 0;
        margin-left: -0%;
    }
    100% {
        opacity: 1;
        margin-left: 3%;
    }
}

.content04 .rightbox .wordbox .pic {
    display: block;
    position: absolute;
    width: 55%;
    height: 40%;
    /* bottom: -2%; */
    top: 57%;
    left: 26%;
    /* background-color: white; */
}

.content04 .rightbox .wordbox .pic img {
    display: block;
    position: absolute;
    width: 70%;
}

.content04 .leftbox .picbox img.one {
    display: none;
}

.content04 .topbox {
    display: none;
}

.content04 .rightbox .wordbox {
    display: none;
}


/*四大保證區塊*/

.content04 .leftbox .picbox img.two {
    height: 100%;
    overflow: hidden;
}

.content04 .leftbox .picbox img.three {
    height: 100%;
    overflow: hidden;
}

.content04 .leftbox .wordbox {
    /*display: none;*/
    display: block;
    position: relative;
    width: 50%;
    height: 65%;
    left: 3%;
    top: 25%;
    /*background-color:white;*/
}

.content04 .leftbox .wordbox .title {
    /* display: none; */
    display: block;
    position: absolute;
    width: 90%;
    height: 20%;
    left: 10%;
    top: 8%;
    /* background-color: black; */
}

.content04 .leftbox .wordbox .title h1 {
    font-size: 40pt;
    color: #dfccc4;
    margin-top: 0%;
    line-height: 78px;
    letter-spacing: 3px;
}

.content04 .leftbox .wordbox .text {
    /*display: none;*/
    display: block;
    position: absolute;
    width: 90%;
    height: 65%;
    left: 0%;
    bottom: 0%;
    overflow: hidden;
    color: white;
    /*background-color:black;*/
}


/*左邊區塊Line*/

.content04 .leftbox .wordbox .text img {
    display: block;
    position: absolute;
    margin-top: 16%;
    width: 100%;
}

.content04 .leftbox .wordbox .text .item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    /*background-color: yellow;*/
}

.content04 .leftbox .wordbox .text .bigfont {
    display: flex;
    position: absolute;
    top: 5%;
    width: 100%;
    height: 25%;
    font-size: 25pt;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    /*background-color: black;*/
}

.content04 .leftbox .wordbox .text p {
    display: block;
    font-size: 20pt;
    margin-top: 26%;
    letter-spacing: 3px;
    line-height: 55px;
}

.content04 .leftbox .wordbox .text .two {
    display: none;
}

.content04 .leftbox .wordbox .text .three {
    display: none;
}

.content04 .leftbox .wordbox .text .four {
    display: none;
}


/*Iconbox設定*/

.content04 .rightbox .iconbox {
    display: block;
    position: relative;
    width: 90%;
    height: 25%;
    top: 47%;
    left: 5%;
    z-index: 1;
    /*background-color: red;*/
}

.content04 .rightbox .iconbox .item {
    float: left;
    display: block;
    width: 20%;
    height: 100%;
    margin-left: 2%;
    /*background-color: white;*/
}

.content04 .rightbox .iconbox .item.one {
    margin-left: 0%;
}

.content04 .rightbox .iconbox .item .icon {
    display: block;
    width: 100%;
    height: 75%;
    /*background-color: yellow;*/
}

.content04 .rightbox .iconbox img.one {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content04 .rightbox .iconbox .item .word {
    display: block;
    width: 100%;
    height: 25%;
    text-align: center;
    /*background-color: blue;*/
}

.content04 .rightbox .iconbox .item .word p {
    padding: 15% 0 0 0;
    font-size: 20pt;
    line-height: 3px;
    color: #333333;
}

.content04 .rightbox .iconbox img.two {
    display: none;
}

.content04 .rightbox .iconbox img.two {
    display: none;
}


/*content05*/

.content05 {
    display: block;
    position: relative;
    /*margin: 0 auto;*/
    width: 100%;
    height: 845px;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.content05 .colorbg {
    display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.content05 .leftbox {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    /*background-color: white;*/
}

.content05 .leftbox .location {
    display: block;
    position: relative;
    width: 45%;
    height: 30%;
    margin: 24% 0 0 58%;
    /* background-color: red; */
}

.content05 .leftbox .location .word {
    display: block;
    position: absolute;
    width: 75%;
    height: 33%;
    top: 0%;
    /*left: 0%;background-color: blue;*/
    z-index: 1;
}

.content05 .leftbox .location .word p {
    color: white;
    font-size: 30pt;
    font-family: "Microsoft Tai Le";
    margin: 12% 0px 0px 20%;
}

.content05 .leftbox .location .pic {
    display: block;
    position: absolute;
    width: 30%;
    height: 70%;
    left: 0%;
    bottom: 0%;
    /*background-color: blue;*/
}

.content05 .leftbox .location .pic img {
    width: 100%;
}

.content05 .leftbox .location .line {
    display: block;
    position: absolute;
    width: 33%;
    height: 100%;
    margin-left: 73%;
    top: 0%;
}

.content05 .leftbox .location .line img {
    width: 100%;
    margin-top: 33%;
    margin-left: 0%;
}
